html {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom ,#2C1320 0%,#0B4F6C 50%,  #01BAEF 100%);
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom ,#2C1320 0%,#0B4F6C 50%,  #01BAEF 100%);
}

#header {
    padding-bottom: 80px;
}

#logo {
    float: left;
    color: wheat;
    background: rgb(0, 173, 211);
    padding: 1px 30px 1px 30px;
    border-radius: 90px;
}

#menuTabs {
    float: right;
    padding: 10px;
    color:white;
    background: #90C2E7;
}

#splashscreen {
    position: relative;
    padding: 30px;
    font-family: 'VT323', monospace;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: auto;
    background: #A31621;
}
#splashscreen h2, p, input, button {
    width: 100px;
    align-items: center;
    display: flex;
    text-align: center;
    flex-flow: column;
}

#splashscreen img{
    padding: 10px;
    border: skyblue;
    display: inline-flex;
    border-style: double;
    margin: 5px;
    text-align: center;
}

input {
    padding: 10px;
    border: 10px;
    background:grey; 
    border-color: #D496A7;
}
button {
    background: grey;
    border-radius: 90px;
}

@media  only screen and (max-width: 375px) {
    body {
        flex-wrap: wrap;
        display: inline;
    }
    #splashscreen {
        position: relative;
        padding: 10px;
        font-family: 'VT323', monospace;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: auto;
        background: #A31621;
        width: 100%;
    }

}